@model SoftPortalBot.Model.DataBaseTable.UserResponsibleGroup

@{
    ViewData["Title"] = "Создание связи пользователь/группа";
}
<div align="center">
    <h1>Создание связи пользователь/ответственная группа</h1>
    <hr />
    <div>
        <div class="col-md-4" style="margin: 10px;">
            <form asp-action="Create">
                <div style="height: 20px; color: lightcoral;">@ViewBag.ConstraintError</div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label">Пользователь</label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ResponsibleGroupId" class="control-label">Ответственная группа</label>
                    <select asp-for="ResponsibleGroupId" class="form-control" asp-items="ViewBag.ResponsibleGroupId"></select>
                </div>
                <div class="form-group" style="margin: 10px;">
                    <input type="submit" value="Создать" class="btn btn-primary" />
                    <a class="btn btn-danger" asp-action="Index">Вернуться назад</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
